.select2-selection__choice {
    background-color: #5cec0f !important;
}

.image-detail-product, .feature_image {
    object-fit: cover;
}

.container_image_detail, .feature_image_container {
    margin-top: 20px;
}


